{% extends 'base.html' %}
{% block title %}
Flipkart Deals Generated Copy Now
{% endblock  %}

{% block content %}
<text align="center"><h3>Hey 🤪 {{flip_name}} <u>Copy Below Text's in Product page</u></h3></text>
<h1>Flipkart {{a}} Rs.{{b}}</h1>
<p>Looking for Flipkart deals and offers checkout {{random_word}} get {{a}} at rs.{{b}} only.
<p><font color="green">Follow below steps to avail this bumper offer from Flipkart.</font></p>
<h2>
How to Buy {{a}}</h2>
<ol>
<li>First of all visit Flipkart <a href="{{flipkart_url}}" target="_blank" rel="nofollow">offer page</a></li>  
<li>Read <a href="{{flipkart_url}}" target="_blank" rel="nofollow">product</a> information if you are interested in reading</li>
<li>Add the product to cart</li>
<li>Now go to the checkout page or click buy now</li>
<li>You will be redirected to the Flipkart login page, Login using your Flipkart credential</li>
<li>If you don’t have an account then create one it’s free</li>
<li>After that enter your product delivery address</li>
<li>Now Flipkart will ask you to pay the money</li>
<li>Pay money or choose Cod(cash on delivery</li>
<li>Confirm the order, You will receive the product in your doorstep within a few days.</li>
<li>We will love to hear from you regarding this deal so comment and share. Please share our site with your Friends, share in Your Whatsapp, Telegram, Facebook Group keep visitng <a href="https://indisale.in/">Indisale</a>.</li>
{% endblock  %}