{% extends 'base.html' %}
{% block title %}
Automatic Deals Generator Paytmall, Snapdeal, Flipkart, Jabong, Ajio, Ebay, Shopclues Etc 
{% endblock  %}
{% block content %}
<br>
<div class="row row-cols-1 row-cols-md-4">
  <div class="col mb-4">
    <div class="card">
      <img src="https://cdn.gadgets360.com/pricee/assets/store/flipkart-1200x800.png" class="card-img-top" alt="Flipkart Logo" height="198px" width="359px">
      <div class="card-body">
        <h5 class="card-title">Flipkart</h5>
        <p class="card-text">Flipkart is an Indian e-commerce company based in Bangalore, Karnataka, India. It was founded by Sachin Bansal and Binny Bansal in 2007.</p>
        <a href="#" class="btn btn-primary">Create Deals</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="https://images.indianexpress.com/2017/05/snapdeal-new-logo-12001.jpg" class="card-img-top" alt="Snapdeal Logo">
      <div class="card-body">
        <h5 class="card-title">Snapdeal</h5>
        <p class="card-text">Snapdeal, is an Indian e-commerce company based in New Delhi, India. The company was founded by Kunal Bahl and Rohit Bansal in February 2010.</p>
      <a href="#" class="btn btn-primary">Create Deals</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="https://s3.ap-south-1.amazonaws.com/affiliatecubber/images/partner_logo/ajio.jpg" class="card-img-top" alt="Logo of Ajio" width="359px" height="198px">
      <div class="card-body">
        <h5 class="card-title">Ajio</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Create Deals</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="https://images.jdmagicbox.com/comp/mumbai/r7/022pxx22.xx22.170731154515.g6r7/catalogue/jabong-com-mumbai-online-shopping-websites-it21d.jpg?clr=#333333" class="card-img-top" alt="jabong logo" height="198px" width="356px">
      <div class="card-body">
        <h5 class="card-title">Jabong</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <a href="#" class="btn btn-primary">Create Deals</a>
      </div>
    </div>
  </div>
   <div class="col mb-4">
    <div class="card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQd5kFJY_lHHpL_DLpKfGilwXVoZVAauJLsLg&usqp=CAU" width="359px" height="198px" class="card-img-top" alt="Paytmall logo">
      <div class="card-body">
        <h5 class="card-title">Paytm Mall</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <a href="#" class="btn btn-primary">Create Deals</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="https://mms.businesswire.com/media/20200909005618/en/3799/23/logo_white_.jpg" width="359px" height="198px" class="card-img-top" alt="Amazon logo">
      <div class="card-body">
        <h5 class="card-title">Amazon</h5>
        <p class="card-text">Amazon.com, Inc., is an American multinational technology company based in Seattle, Washington. Amazon focuses on e-commerce, cloud computing, digital streaming, and artificial intelligence. It is considered one of the Big Four technology companies, along with Google, Apple, and Facebook.</p>
      <a href="amazon" class="btn btn-primary">Create Deals</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="https://www.shopclues.com/blog/wp-content/uploads/2018/08/SC_Black.png" width="359px" height="198px" class="card-img-top" alt="Amazon logo">
      <div class="card-body">
        <h5 class="card-title">Shopclues</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <a href="#" class="btn btn-primary">Not Working</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="https://cdn.vox-cdn.com/thumbor/EM0ou6QPXRqRHk9vNa1lATItyVc=/0x0:3412x1706/fit-in/1200x600/cdn.vox-cdn.com/uploads/chorus_asset/file/19773385/ebay_logo.jpg" width="359px" height="198px" class="card-img-top" alt="Ebay logo">
      <div class="card-body">
        <h5 class="card-title">Ebay</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <a href="#" class="btn btn-primary">Not Working</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="https://cdn.gadgets360.com/pricee/assets/store/myntra-1200x800.png" width="359px" height="198px" class="card-img-top" alt="Myntra logo">
      <div class="card-body">
        <h5 class="card-title">Myntra</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <a href="#" class="btn btn-primary">Not Working</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="https://upload.wikimedia.org/wikipedia/commons/7/76/Tatacliq.png" width="359px" height="198px" class="card-img-top" alt="TataCliq logo">
      <div class="card-body">
        <h5 class="card-title">Tata Cliq</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <a href="#" class="btn btn-primary">Create Deals</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="https://www.marketing91.com/wp-content/uploads/2016/10/CROMA-LOGO1-01.jpg" width="359px" height="198px" class="card-img-top" alt="cdn.com/thumbor/EM0ou6QPXRqRHk9vNa1lATItyVc logo">
      <div class="card-body">
        <h5 class="card-title">Croma</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <a href="#" class="btn btn-primary">Not Working</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="https://cdn.ship24.com/assets/images/mk_logo/banggood.png" width="359px" height="198px" class="card-img-top" alt="Bangood logo">
      <div class="card-body">
        <h5 class="card-title">Bangood</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <a href="#" class="btn btn-primary">Not Working</a>
      </div>
    </div>
  </div>
</div>
{% endblock  %}